// Variables

$text: #2d2d2d
$background: #fafafa
$light-grey: #efefef
$mid-grey: #505050
$brand-red: #9c1f32
$views: #a73b4b
$lifestyle: #9bce6f
$reviews: #98509c
$music: #e78357
$culture: #68bcbb
$fashion: #3c3a3a
$h-stack: Oswald, sans serif
$p-stack: Lato, serif

// Basic style resets

*
  margin: 0
  padding: 0

body
  background-color: $background

a
  text-decoration: none

a:hover
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: $h-stack
  text-transform: uppercase

p
  font-family: $p-stack
