// Variables

$text: #2d2d2d
$background: #fafafa
$light-grey: #efefef
$mid-grey: #505050
$brand-red: #9c1f32
$views: #a73b4b
$lifestyle: #9bce6f
$reviews: #98509c
$music: #e78357
$culture: #68bcbb
$fashion: #3c3a3a
$h-stack: Oswald, sans serif
$p-stack: Lato, serif

// Basic style resets

*
  margin: 0
  padding: 0

body
  background-color: $light-grey

a
  text-decoration: none

a:hover
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: $h-stack
  text-transform: uppercase

p
  font-family: $p-stack

div.container
  max-width: 1000px
  margin: 0px auto
  padding: 10px

header
  background: $light-grey
  width: 100%
  padding: 0px 10px 0px 10px
  border-bottom: 0.5px solid #dfdfdf
  position: fixed
  z-index: 30

  div.container
    display: flex
    display: -webkit-flex
    flex-direction: row
    justify-content: space-between

    nav:first-of-type
      align-items: flex-start

    nav:last-of-type
      align-items: flex-end

  nav:first-of-type div ul li
    display: inline
    font-family: $h-stack
    font-weight: 400
    text-transform: uppercase
    margin-right: 10px

    a
      color: $text

  nav:last-of-type div ul li
    display: inline
    font-family: $h-stack
    font-weight: 400
    text-transform: uppercase
    margin-right: 5px

    a
      color: $text

section#masthead, footer
  text-align: center

section#masthead
  height: 100vh
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  h1
    font-size: 4em
    color: $text

  hr
    width: 30px
    border: 3px solid $brand-red
    margin: 5px auto 10px auto

  h3
    color: $mid-grey

  div#bg
    width: 100%
    height: 100%
    z-index: -1
    background-size: cover
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    max-width: 100%
    filter: saturate(0) brightness(0.42) contrast(0.96)
    -webkit-filter: saturate(0) brightness(0.42) contrast(0.96)
    opacity: 0.3

div.postbox
  width: 100%
  display: flex
  flex-wrap: wrap

div.post.hero
  flex: 0 0 100%

div.post:hover
  background-color: #ffffff

  img
    filter: brightness(0.9)
    -webkit-filter: brightness(0.9)
    transition: 0.1s

div.post
  background-color: $background
  margin: 7px 7px 7px 7px
  flex: 0 0 31.9%
  box-sizing: border-box

  img
    width: 100%

  h3
    color: $text
    font-size: 1.6em
    margin: 10px

  hr
    width: 30px
    border: 3px solid $brand-red
    margin: 10px

  h5
    font-family: $p-stack
    font-weight: 100
    color: $mid-grey
    text-transform: uppercase
    font-size: 0.7em
    margin: 10px

    a
      color: $mid-grey

  p
    margin: 10px
    color: $mid-grey

footer .container
  padding-bottom: 20px

  hr
    border: 3px solid $brand-red
    margin-bottom: 10px

  nav ul li
    display: inline
    list-style-type: none
    font-family: $h-stack
    margin-right: 5px
    text-transform: uppercase

    a
      color: $text

  p
    font-family: $p-stack
    font-weight: 100
    color: $mid-grey
    text-transform: uppercase
    font-size: 0.7em
    margin-bottom: 5px
    margin-top: 20px

section#featured
  margin-top: -100px

section#latest
  h2#divider
    color: $text
    font-size: 1.7em
    text-align: center
    background: $light-grey
    padding: 10px
    width: 130px
    margin: -32px auto 15px auto

  hr#sides
    border: 3px solid $brand-red
    margin-top: 20px





















#container
  width: 95%
  max-width: 700px
  margin: 50px auto
  height: 200px
  overflow: hidden
  transition: 0.2s

#container:hover
  margin-top: 40px

.bar
  margin-top: -175px

.bar:hover
  margin-top: 0px !important

.bar
  width: 16.666%
  float: left
  margin-top: -180px
  transition: 0.2s
  transition-timing-function: ease-out

.color
  height: 200px
  display: flex
  justify-content: center
  align-items: center

  h5
    transform: rotate(90deg)
    color: #fafafa
    font-family: oswald
    text-transform: uppercase
    font-size: 2em
    pointer-events: none

  .spacer
    height: 200px

#one
  background-color: #a73b4b

#two
  background-color: #9bce6f

#three
  background-color: #98509c

#four
  background-color: #e78357

#five
  background-color: #68bcbb

#six
  background-color: #3c3a3a
