* {
  margin: 0;
  padding: 0; }

body {
  background-color: #efefef; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5 {
  font-family: Oswald, sans serif;
  text-transform: uppercase; }

p {
  font-family: Lato, serif; }

div.container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px; }

header {
  background: #efefef;
  width: 100%;
  padding: 0px 10px 0px 10px;
  border-bottom: 0.5px solid #dfdfdf;
  position: fixed;
  z-index: 30; }
  header div.container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between; }
    header div.container nav:first-of-type {
      align-items: flex-start; }
    header div.container nav:last-of-type {
      align-items: flex-end; }
  header nav:first-of-type div ul li {
    display: inline;
    font-family: Oswald, sans serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 10px; }
    header nav:first-of-type div ul li a {
      color: #2d2d2d; }
  header nav:last-of-type div ul li {
    display: inline;
    font-family: Oswald, sans serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 5px; }
    header nav:last-of-type div ul li a {
      color: #2d2d2d; }

section#masthead, footer {
  text-align: center; }

section#masthead {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  section#masthead h1 {
    font-size: 4em;
    color: #2d2d2d; }
  section#masthead hr {
    width: 30px;
    border: 3px solid #9c1f32;
    margin: 5px auto 10px auto; }
  section#masthead h3 {
    color: #505050; }
  section#masthead div#bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    filter: saturate(0) brightness(0.42) contrast(0.96);
    -webkit-filter: saturate(0) brightness(0.42) contrast(0.96);
    opacity: 0.3; }

div.postbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

div.post.hero {
  flex: 0 0 100%; }

div.post:hover {
  background-color: #ffffff; }
  div.post:hover img {
    filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
    transition: 0.1s; }

div.post {
  background-color: #fafafa;
  margin: 7px 7px 7px 7px;
  flex: 0 0 31.9%;
  box-sizing: border-box; }
  div.post img {
    width: 100%; }
  div.post h3 {
    color: #2d2d2d;
    font-size: 1.6em;
    margin: 10px; }
  div.post hr {
    width: 30px;
    border: 3px solid #9c1f32;
    margin: 10px; }
  div.post h5 {
    font-family: Lato, serif;
    font-weight: 100;
    color: #505050;
    text-transform: uppercase;
    font-size: 0.7em;
    margin: 10px; }
    div.post h5 a {
      color: #505050; }
  div.post p {
    margin: 10px;
    color: #505050; }

footer .container {
  padding-bottom: 20px; }
  footer .container hr {
    border: 3px solid #9c1f32;
    margin-bottom: 10px; }
  footer .container nav ul li {
    display: inline;
    list-style-type: none;
    font-family: Oswald, sans serif;
    margin-right: 5px;
    text-transform: uppercase; }
    footer .container nav ul li a {
      color: #2d2d2d; }
  footer .container p {
    font-family: Lato, serif;
    font-weight: 100;
    color: #505050;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 5px;
    margin-top: 20px; }

section#featured {
  margin-top: -100px; }

section#latest h2#divider {
  color: #2d2d2d;
  font-size: 1.7em;
  text-align: center;
  background: #efefef;
  padding: 10px;
  width: 130px;
  margin: -32px auto 15px auto; }
section#latest hr#sides {
  border: 3px solid #9c1f32;
  margin-top: 20px; }

#container {
  width: 95%;
  max-width: 700px;
  margin: 50px auto;
  height: 200px;
  overflow: hidden;
  transition: 0.2s; }

#container:hover {
  margin-top: 40px; }

.bar {
  margin-top: -175px; }

.bar:hover {
  margin-top: 0px !important; }

.bar {
  width: 16.666%;
  float: left;
  margin-top: -180px;
  transition: 0.2s;
  transition-timing-function: ease-out; }

.color {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .color h5 {
    transform: rotate(90deg);
    color: #fafafa;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 2em;
    pointer-events: none; }
  .color .spacer {
    height: 200px; }

#one {
  background-color: #a73b4b; }

#two {
  background-color: #9bce6f; }

#three {
  background-color: #98509c; }

#four {
  background-color: #e78357; }

#five {
  background-color: #68bcbb; }

#six {
  background-color: #3c3a3a; }

/*# sourceMappingURL=main.css.map */
